NODE_ENV=NODE_ENV
HOST=HOST
PORT=PORT
DATABASE_BASE_URL =DATABASE_BASE_URL 
DATABASE_NAME =DATABASE_NAME 
JWT_SECRET =JWT_SECRET 
CLOUDINARY_CLOUD_NAME = CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY = CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET = CLOUDINARY_API_SECRET